@import '../../styles/variables.scss';

.root{
    height: $toolbar-height;
    background: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 5px gray;
    z-index: 999;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 41px;
    &__list{
        display: flex;
        column-gap: 16px;
        &__palette{
            cursor: pointer;
        }
    }
}